@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .width {
      width: 992px;
  
      .title {
        font-size: 35px;
        font-weight: 700;
        line-height: 54px;
        text-align: start;
        margin: 80px 0 40px 0;
      }
      
    }

  }
}

@include mixin.mobile {

}
