@use "../../styles/mixin.scss" as mixin;

.container {
  display: flex;
  justify-content: center;

  .title {
    font-size: 35px;
    font-weight: 700;
    margin: 80px 0 60px 0;
  }

  .noticeDetail {
    width: 992px;
    min-height: 550px;
  }

  .noticeTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid mixin.$cloudLine;
    margin: 20px 0 0 0;

    div:nth-child(1) {
      font-size: 25px;
      font-weight: 600;
      font-family: "pretendard";
    }

    div:nth-child(2) {
      color: mixin.$cloudGray;
    }
  }

  .noticeContent {
    padding: 10px 10px 10px 15px;
    width: 992px;
    min-height: 40rem;
    font-size: 18px;
    font-weight: 500;
    word-break: break-all;
    line-height: 36px;
  }

  .noticeBottom {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 50px 0;
    .navigateBtn {
      // background: transparent;
      border: mixin.$cloudGray solid;
      border-radius: 5px;
      border: none;
      color: mixin.$mainColor;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
