@use "../../styles/mixin.scss" as mixin;

.container {
  display: flex;
  justify-content: center;

  .noticeBanner {
    font-size: 40px;
    font-weight: 700;
    font-family: "pretendard";
    // padding: 2rem 0.5rem;
    margin: 60px 0 30px 0;
  }
  .noticeList {
    width: 992px;
  }
  .navigateBtnContainer {
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    margin: 20px 0 100px 0;
  }
  .navigateBtn {
    padding: 0rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.5s;
    margin: 0 10px 0 10px;

    &:hover {
      color: mixin.$mainColor;

    }
  }
}
