$mainColor: #9b78ff;
$cloudGray: #adadad;
$cloudLine: #afafaf;

.purpleButton {
  background: $mainColor;
  border-radius: 5px;
  font-size: 12px;
  border: 0px solid;
  color: #fff
}

@mixin mobile {
  @media only screen and (max-width: 500x) {
    @content;
  }
}

// @mixin tablet {
//   @media only screen and (min-width: 768px) and (max-width: 991px) {
//     @content;
//   }
// }
@mixin caution {
  @media only screen and (min-width: 0px) and (max-width: 992px) {
    @content;
  }
}



@mixin desktop {
  @media only screen and (min-width: 500px) {
    @content;
  }
}
