@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {
  .commentForm {
    textarea {
      padding: 5px 5px 10px 5px;
      border: 0;
      height: 50px;
      resize: none;
      overflow: auto;
      &:focus {
        outline: none;
      }

      &::placeholder {
        font-weight: 700;
      }
    }

    div {
      display: flex;
      justify-content: flex-end;

      button {
        width: 50px !important;
        font-size: 15px;
        font-weight: 700;
        color: #ff9f21;
        background: #fff;
        margin: 0;
      }
    }
  }
}
