@use "../../styles/mixin.scss" as mixin;
// .이름 = 클래스 네임
// 이름 = 태그 네임

@include mixin.desktop {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0rem;
    margin: 7rem 5rem;
  }
  .container {
    // justify-content: center;
    // align-items: center;
    padding: 2rem;
    width: 35rem;
    height: 25rem;
    height: auto;
    border: 1px solid mixin.$cloudLine;
    box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  hr {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
  }
  h1 {
    display: grid;
    display: flex;
    padding-left: 1rem;
    // align-items: start;
    font-size: 1.5rem;
  }
  .form {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    div {
      padding: 1rem;
      display: flex;
      // font-size: 1.5rem;
      width: 30rem;
      justify-items: start;
      // align-content: center;

      input {
        display: flex;
        align-items: center;
        border-radius: 5px;
        size: 10rem;
        font-size: 1.5rem;
        width: 20rem;
      }
    }
  }
  .pwChangeBtn {
    display: flex;
    border: none;
    padding: 0.8rem 6rem;
    margin: auto;
    color: #fff;
    background-color: #9b78ff;
    border-radius: 5px;
    font-size: 1rem;
    justify-content: center;
  }
  .nowPw {
    align-items: flex-start;
  }
  .input1 {
    margin-left: 2.1rem;
    justify-content: end;
  }
  .input2 {
    margin-left: 1.1rem;
  }
}
