@use "../../styles/mixin.scss" as mixin;
// .이름 = 클래스 네임
// 이름 = 태그 네임

@include mixin.desktop {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 15rem ;
    margin: 7rem 5rem ;
  }
  .container {
    // justify-content: center;
    // align-items: center;
    padding: 2rem;
    width: 125rem;
    height: 100rem;
    height: auto;
    border: 1px solid mixin.$cloudLine;
    box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  hr {
    margin-inline-start: 5rem;
    margin-inline-end: 5rem;
  }
  h1 {
    display: grid;
    display: flex;
    padding-left: 1rem;
    align-items: start;
    font-size: 1.5rem;
  }
  .form {
    display: flex;
    width: 900px;
    height: auto;
    justify-content: center;
    align-items: flex-start;

    div {
      padding: 1rem;
      display: flex;
      font-size: 2rem;
      width: auto;
      justify-items: start;
      // align-content: center;

      input {
        align-items: center;
        border-radius: 5px;
        size: 10rem;
        font-size: 1.5rem;
      }
    }
  }
  .pwChangeBtn {
    display: flex;
    border: none;
    padding: 0.8rem 6rem;
    margin: auto;
    color: #fff;
    background-color: #9b78ff;
    border-radius: 5px;
    font-size: 23px;
    justify-content: center;
  }
  .nowPw {
    align-items: flex-start
  }
}
