@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {
  .postItem {
    margin: 0 0 80px 0;
    width: 240px;
    
    .overflow {
      width: 240px;
      height: 200px;
      border: 1px solid rgb(235, 235, 235);
      border-radius: 5px;
      overflow: hidden;
    }

    .postImg {
      width: 240px;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
      object-fit: cover;
      background: black;
      border: 0;
      cursor: pointer;
      transition: all 0.7s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 10px 0;

      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        object-fit: contain;
      }

      .userInfo {
        text-align: start;
        margin: 0px 0 0 10px;
        cursor: pointer;

        div:nth-child(1) {
          font-size: 18px;
          font-weight: 700;
          margin: 5px 0 5px 0;
        }

        div:nth-child(2) {
          font-size: 12px;
          font-weight: 700;
          color: mixin.$cloudGray
        }
      }

      .shared {
        margin: 0 10px 0 0;

        svg {
          cursor: pointer;
          font-size: 20px;
        }
      }
    }


    // 좋아요 표시
    .name {
      display: flex;
      align-items: center;
      margin: 10px 0 0 0;

      svg {
        color: red;
        font-size: 18px;
        &:hover {
          color: rgb(255, 85, 85) !important;
        }
      }

      div:nth-child(2) {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        margin: 0 0 0 3px;
        color: mixin.$cloudGray
      }
    }
  }
}

@include mixin.mobile {
}
