@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {
  .postList {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 0px 0;
    
    .postItem {
      cursor: pointer;
    }
  }
  
  .none {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 20 px;
    font-weight: 500;
    color: mixin.$cloudGray
  }

}

@include mixin.mobile {
}
