@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {
  .postUpdateForm {
    width : auto
  }
  .container {
    width: 700px;
  }
  .title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    margin: 25px 0 0 0;
  }
  
  .head {
    // 챌린지
    div:nth-child(1) {
      margin: 30px 0 10px 0;
      font-weight: 700;
      font-size: 22px;
      line-height: 30px;
    }
    // 챌린지 제목
    div:nth-child(2) {
      margin: 0 0 20px 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
    // 스테이지
    div:nth-child(3) {
      margin: 0 0 20px 0;
      font-weight: 700;
      font-size: 22px;
      line-height: 24px;
    }
    // 스테이지 제목
    div:nth-child(4) {
      margin: 0 0 20px 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .form {
    .inputTitle {
      border-bottom: 1px solid mixin.$cloudLine;

      label {
        display: block;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        margin: 0 0 5px 0;
      }
      input {
        height: 40px;
        width: 600px;
        padding: 0 0 0 10px;
        font-size: 16px;
        font-weight: 700;
        border: 0;
        // border-bottom: 1px solid mixin.$cloudLine;

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-size: 16px;
          font-weight: 700;
          color: mixin.$cloudGray
        }

      }

      .titleCnt {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        div:nth-child(2) {
          margin: 0 0 7px 0;
          font-size: 14px;
          font-weight: 700;
          color: mixin.$cloudGray;
        }
      }
    }

    .photo {
      div:nth-child(1) {
        margin: 20px 0 10px 0;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
      }

      div:nth-child(2) {
        margin: 0 0 20px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .img {
      width: 400px;
      height: 250px;
      cursor: pointer;
    }

    .submitt {
      width: 110px !important;
      height: 50px !important;
      color: #fff !important;
      font-size: 16px !important;
      font-weight: 700;
      background: mixin.$mainColor !important;
      border-radius: 5px;
      margin: 15px 0 40px 0;
    }

  }
}
