@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {
  .follow {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
  }

  .cnt {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .line::before {
    display: inline-block;
    position: relative;
    background-color: mixin.$cloudLine;
        // display:
    content:"";
    width: 2px;
    height: 12px;
  }
}

@include mixin.mobile {
}
