@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {
  .main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    .a1 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .a2 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    margin-bottom: 22px;
  }

  .form {
    .email {
      div {
        margin-bottom: 8px;
      }

      div > label {
        font-size: 15px;
        font-weight: 700;
      }
      margin-bottom: 15px;
    }

    .name {
      div {
        margin-bottom: 8px;
      }
      label {
        font-size: 15px;
        font-weight: 700;
      }
      margin-bottom: 20px;
    }

    input {
      width: 273px;
      height: 40px;
      border: 0;
      padding: 0 10px 0 15px;
      border: 1px solid mixin.$cloudLine;
      border-radius: 5px;
      font-size: 12px;

      ::placeholder {
        font-weight: 400;
        font-size: 12px;
      }
    }
    li {
      font-size: 12px;
      font-weight: 400;
      margin: 10px 0 10px 0;
    }

    button {
      margin-top: 20px;
      font-weight: 400;
      font-size: 12px;
      width: 300px;
      height: 40px;
    }
  }
}

@include mixin.mobile {
}
