@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {
  .userList {
    // display: flex;
    // justify-content: space-around;
    margin: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@include mixin.mobile {

}
