.slick-prev {
  left: 10px;
  z-index: 999;
  &::before {
  content: '«';
  }
}

.slick-next {
right: 10px;
  // left: 470px;
&::before {
  content: '»';
  }
}

.slick-track:focus {
  outline:none;
}

.slick-arrow{
display: block;
position: absolute;
top: 50%;
height: 20px;
width: 20px;
transform: translateY(-50%); // this takes care of the vertical centering

&::before {
  color: rgba(60, 60, 60, 0.283);
  line-height: 0;
  font-size: 40px;
}
}