@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {
  
  .stageTitle {
    margin: 10px 0 0 10px;
    div:nth-child(1) {
      font-size: 20px;
      font-weight: 700;
    }
    div:nth-child(2) {
      margin: 5px 0 0 0px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .stageContent {
    height: 240px;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
  }
}