@use "../styles/mixin.scss" as mixin;

@include mixin.desktop {
  .container {
    display: flex;
    justify-content: center;
    overflow-x: hidden;

    
    .mainPage {
      width: 992px;

      .mainSlider {
        margin: 80px 0 100px 0;
      }
    }

    // 내가 만든 챌린지
    .myChallenge {
      display: flex;
      justify-content: space-around;
      padding: 50px 0 50px 0;

      .myTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // 최신
        div:nth-child(1) {
          font-size: 42px;
          font-weight: 700;
          margin-bottom: 7px;
        }
        // 챌린지
        div:nth-child(2) {
          font-size: 42px;
          font-weight: 700;
          margin-top: 7px;
          margin-bottom: 10px;
        }
      }
    }

    // 추천 챌린지
    .recommendChallenge {
      // margin: 200px 0 200px 0;
      padding: 100px 0 100px 0;
      .myTitle {
        font-size: 30px;
        font-weight: 700;
        margin: 10px 0px 40px 0;
      }

    }

    // 인기 챌린지
    .popChallenge{
      .title {
        font-size: 30px;
        font-weight: 700;
        margin: 30px 0 30px 20px;
      }
    }
  }

  .sliderTitle {
    background: #374151;
    padding: 60px 0 20px 0;
    div:nth-child(1) {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      font-family: pretendard;
      padding: 0 0 10px 0;

    }
    div:nth-child(2) {
      text-align: center;
      font-size: 35px;
      font-weight: 600;
      color: #fff;
      font-family: pretendard;
    }
  }

  .postingSlider {
    height: 800px;
    width: 2560px;
    background: #374151;
    pointer-events: none;

  }

  .popPosting {
    padding: 20px 0 40px 0;
    & > div {
      font-size: 35px;
      font-weight: 700;
      text-align: center;
      padding: 30px 0 55px 0;
    }

    }
}

@include mixin.mobile {
  
}
