@use "../styles/mixin.scss" as mixin;

@include mixin.desktop {
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .unknown {
    text-align: center;
    div:nth-child(1) {
      font-weight: 700;
      font-size: 150px;
      line-height: 218px;

      span:nth-child(1) {
        color: #757575;
        left: 10px;
      }

      span:nth-child(2) {
        color: #9B78FF;
      }
      
      span:nth-child(3) {
        color: #757575;
      }
    }
    div:nth-child(2) {
      font-weight: 700;
      font-size: 40px;
      color: #757575;
    }
    div:nth-child(3) {
      font-weight: 400;
      font-size: 16px;
      margin-top: 15px;
      line-height: 27px;
      color: #A9A9A9;
    }
  }
}

@include mixin.mobile {
  
}
