@use "../../styles/mixin.scss" as mixin;

.EditorContainer {
  width: auto;
}

.Editor {
  padding:"5px";
  height: 90%;
  background: #fff;
}

.counter {
  display: inline-block;
  // position: relative;
  // justify-content: flex-end;
  // bottom: 30px;
  // left: 920px;
  font-size: 14px;
  margin: 5px 5px 0 10px;
  font-weight: 500;
  color: rgb(146, 146, 146);
}