@use "../../styles/mixin.scss" as mixin;

.EditorContainer {
  width: auto;
}

.Editor {
  padding: "5px";
  height: 90%;
}

.textCounter {
  text-align: end;
  margin: 0 0 7px 0;
  font-size: 14px;
  font-weight: 700;
  color: #adadad;
}
