@use "../../styles/mixin.scss" as mixin;

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);

  button {
    outline: none;
    cursor: pointer;
    border: 0;
  }

  > section {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    animation: modal-show 0.3s;
    overflow: hidden;

    > {
      header {
        position: relative;
        padding: 16px 64px 16px 16px;
        background-color: RGB(195, 174, 255);
        font-weight: 700;
        color: #fff;

        button {
          position: absolute;
          top: 12px;
          right: 15px;
          width: 30px;
          font-size: 21px;
          font-weight: 700;
          text-align: center;
          color: rgb(255, 255, 255);
          background-color: transparent;
        }
      }

      main {
        padding: 16px;
        border-bottom: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
      }

      footer {
        padding: 12px 16px;
        text-align: right;

        button {
          padding: 6px 12px;
          color: #fff;
          background-color: mixin.$mainColor;
          border-radius: 5px;
          font-size: 13px;
        }
      }
    }
  }

  &.openModal {
    display: flex;
    align-items: center;
    animation: modal-bg-show 0.3s;
  }
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}