@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {

  .link {
    text-decoration: none;
  }

  .challengeItem {
    display: flex;
    padding: 40px 0 40px 0;
    border-bottom: 1px solid mixin.$cloudLine;
    // align-items: ;

    &:hover {
      background: rgba(197, 197, 197, 0.359);
      transition: all 0.5s;
    }

    img {
      width: 280px;
      height: 170px;
      object-fit: cover;
    }

    .space {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .badge0 {
      display: none;
    }
    .badge1 {
      display: inline-block;
      position: relative;
      border-radius: 0px 0px 5px 5px;
      right: 55px;
      width: 40px;
      height: 20px;
      background: mixin.$mainColor;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
    }
    .badge2 {
      display: inline-block;
      position: relative;
      border-radius: 0px 0px 5px 5px;
      right: 55px;
      width: 40px;
      height: 20px;
      background: linear-gradient(90deg, #FF9921 -1.06%, #FFC337 101.51%);
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 19px;
    }
    
    .challengeInfo {
      max-width: 687px;
      display: flex;
      flex-direction: column;
      justify-content:space-around;
      margin: 0 0 0 30px;

      .title {
        display: flex;
        align-items: center;

        div:nth-child(1) {
          font-weight: 600;
          font-size: 22px;
          line-height: 25px;
          margin-right: 10px;
        }

        .level1 {
          width: 40px;
          height: 20px;
          background: #F0D300;;
          text-align: center;
          line-height:20px;
          // font-size:
          font-weight: 600;
          color: #fff;
          border-radius: 5px;
        }
        .level2 {
          width: 40px;
          height: 20px;
          background: #5AAE33;
          text-align: center;
          line-height:20px;
          // font-size:
          font-weight: 600;
          color: #fff;
          border-radius: 5px;

        }
        .level3 {
          width: 40px;
          height: 20px;
          background: #E2195A;
          text-align: center;
          line-height:20px;
          // font-size:
          font-weight: 600;
          color: #fff;
          border-radius: 5px;
        }
      }

      // 작성일 / 작성자
      .writer {
        display: flex;
        margin : 5px 0 10px 0;
        div:nth-child(1) {
          margin: 0 10px 0 0;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          color: mixin.$cloudGray
        }

        div:nth-child(2) {
          margin: 0 10px 0 0;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: mixin.$cloudGray
        }

        div:nth-child(3) {
          // margin: 0 10px 0 0;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: mixin.$cloudGray
        }
      }

      // 한줄 소개
      .description {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
      }
    }
  }
}

@include mixin.mobile {

}
