@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {
  .noChallengeList {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    div:nth-child(1) {
      font-size: 20px;
      color: mixin.$cloudGray;
    }
  }
}

@include mixin.mobile {

}
