@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {
  .hobbySetList {
    display: flex;
    margin: 5px 0 0 140px;
    li {
      display: block;
      margin: 10px 10px 0 10px;
      border: 1.5px solid mixin.$cloudLine;
      padding: 5px 5px 5px 10px;
      border-radius: 20px;
      // background: rgb(255, 149, 149);

      button {
        margin: 0;
        border: 0;
        background: none;
        font-size: 20px;
        font-weight: 700;
        color: mixin.$cloudGray;
        cursor: pointer;
      }
    }
  }
}

@include mixin.mobile {
}
