@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {

  .link {
    text-decoration: none;
  }

  .challengeItem {

    img {
      width: 992px;
      height: 500px;
      object-fit: cover;
      z-index: 0;
      
    }

    .badge0 {
      display: none;
    }

    .badge1 {
      width: 0px;
      height: 0px;
      &::before {
        display: inline-block;
        position: relative;
        border-radius: 0px 0px 5px 5px;
        left: 930px;
        bottom: 500px;
        width: 40px;
        height: 20px;
        background: mixin.$mainColor;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        content:"진행";
        z-index: 50;
      }
    }

    .badge2 {
      width: 0px;
      height: 0px;
      &::before{
        display: inline-block;
        position: relative;
        border-radius: 0px 0px 5px 5px;
        left: 930px;
        bottom: 500px;
        width: 40px;
        height: 20px;
        background: linear-gradient(90deg, #FF9921 -1.06%, #FFC337 101.51%);
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        content: "완료";
        z-index: 50;
      }
    }
    
    .cover {
      width: 0px;
      height: 0px;
      &::before{
        display: inline-block;
        position: relative;
        border-radius: 0px 0px 5px 5px;
        left: 0px;
        bottom: 500px;
        width: 992px;
        height: 500px;
        border-radius: 5px;
        background: linear-gradient(360deg, #000000 -6.45%, #000000 -6.44%, rgba(6, 6, 6, 0.26) 30.27%, rgba(255, 255, 255, 0) 96.28%);
        content: "";
        z-index: 10;
      }
    }

    .userInfo {
      position: relative;
      bottom: 140px;
      left: 50px;
      margin: 10px 0 0 0;
      z-index: 100;
      .title{
        display: flex;
        // 제목
        div:nth-child(1) {
          font-size: 35px;
          color: #fff;
          font-weight: 700;
          z-index: 100;
        } 
        // 레벨 뱃지
        div:nth-child(2) {
          margin: 14px 0 0 10px;
          z-index: 100;
        }
      }

      .heart {
        display: flex;
        margin: 2px 0 0 0;
        svg {
          color: rgb(254, 116, 116);
          font-size: 20px;
          margin: 0 3px 0 0;
          z-index: 100;

          &:hover {
            color: rgb(254, 116, 116) !important;
            z-index: 100;

          }
        }
        .word {
          font-size: 16px;
          font-weight: 700;
          line-height: 16px;
          color: #fff;
          margin: 0 2px 0 0;
          z-index: 100;

        }
      }

      .challengeUserInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0 0 0px;

        .userInfo {
          display: flex;
          position: relative;
          align-items: center;
          top: -5px;
          left: 0px;

          .userImg {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            margin: 0 10px 0 0;
          }
        }
        div:nth-child(2) {
          font-size: 18px;
          font-weight: 700;
          color: #fff;
          margin: 0 10px 0 0;
        }
        button {
          width: 100px;
          height: 45px;
          margin: 0 80px 0 0;
          border-radius: 5px;
          border: 1px solid mixin.$mainColor;
          background: #fff;
          font-size: 16px;
          font-weight: 600;
          color: mixin.$mainColor;
          transition: all 0.5s;
          
          &:hover {
            color: #fff;
            background: mixin.$mainColor;
          }
        }
      }
    }
  }

  // 레벨 뱃지
  .level1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    margin-right: 10px;
    width: 40px;
    height: 20px;
    background: #F0D300;;
    text-align: center;
    line-height:20px;
    // font-size:
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
  }

  .level2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    margin-right: 10px;
    width: 40px;
    height: 20px;
    background: #5AAE33;
    text-align: center;
    line-height:20px;
    // font-size:
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
  }

  .level3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    margin-right: 10px;
    width: 40px;
    height: 20px;
    background: #E2195A;
    text-align: center;
    line-height:20px;
    // font-size:
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
  }
}

@include mixin.mobile {

}
