@use "../styles/mixin.scss" as mixin;

@include mixin.desktop {
  header {
    height: 90px;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid mixin.$mainColor;

    img {
      width: 196px;
      height: 54px;
    }

    div {
      align-items: center;
      display:flex;

      ul {
        display: flex;
        align-items: center;
        margin: 18px 0px 18px 0px;
      }

      a {
        text-decoration: none;
      }
      a:visited {
        color: black
      }

      li {
        padding: 0 25px 0 25px;
      }
      
    }
    .logout {
      p:hover {
        cursor: pointer;
      }
    }

    .profile{
      a {
        display: flex;
        img {
          width: 45px;
          height: 45px;
          border-radius: 100px;
          border: 1px solid #eee;
          margin: 2.5px
        }
        div {
          margin: 2.5px
        }
      }
    }
  }
}

@include mixin.mobile {
  header {
    div {
      font-size: 0.1rem;
    }
  }
}
