.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.button.active {
  color: blue;
}

.button:hover {
  color: white;
  background-color: #337ab7;
}

.page-selection {
  color: #337ab7;
}