@use "../../styles/mixin.scss" as mixin;

@include mixin.desktop {
  .dropbtn {
    background-color: #ea2129;
    // color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .bell {
    color:mixin.$mainColor
  }
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    button {
      background: transparent;
      background-color: transparent;
    }
    .dropdownContent {
      display: block;
      position: absolute;
      overflow-y: auto;
      background-color: white;
      // min-width: 300px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 3;
      border-radius: 16px;
      border-color: mixin.$cloudLine;

    }
    .dropdownContent::-webkit-scrollbar {
      width: 5px;
    }
    .dropdownContent::-webkit-scrollbar-thumb {
      background-color: rgb(222, 192, 246);
      height: 0.5rem;
    }
    .dropdownContent::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  .dropdownItem {
    float: none;
    display: block;
  }

  .dropdownContent button {
    // color: black;
    // width: 100px;
    padding: 12px 16px;
    text-decoration: none;
    z-index: 1;
    border: mixin.$cloudGray;
  }

  .dropdownContent a:hover {
    background: #ddd;
  }

  // .dropdown:hover .dropdownContent {
  //   display: block;
  // }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
}
