{{>layout/header}}

    <div class="row mb-5" style="font-size: 2.2rem; font-weight: 1000; display: flex; justify-content: center;">
        <h2>사용자 관리</h2>
    </div>

    <div class = "row">

        <table class="table">
            <thead >
            <tr>
                <th scope="col" style="display:none;">Id</th>
                <th scope="col">Fullname</th>
                <th scope="col">Nickname</th>
                <th scope="col">Email</th>
                <th scope="col">Introduce</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {{#users}}
                <tr>
                    <td id="memberId" style="display:none;">{{memberId}}</td>
                    <td>{{fullname}}</td>
                    <td>{{nickname}}</td>
                    <td>{{username}}</td>
                    <td>{{introduce}}</td>
                    <td onclick="invalidate()">
                        <button type="button" class="btn btn-warning">휴면 처리</button>
                    </td>
                </tr>
            {{/users}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}