
{{>layout/header}}

    <div class="row mb-5" style="font-size: 2.2rem; font-weight: 1000; display: flex; justify-content: center;">
        <h2>공지사항 수정</h2>
    </div>

    <div class = "row">
        <div class = "col-md-12">
                <form>
                    <div style="display: none">
                        <input type=text" class="form-control" id="noticeId" value="{{noticeId}}">
                    </div>
                    <div class = "form-group">
                        <input type=text" class="form-control" id="title" value="{{notice.title}}">
                    </div>
                    <div class = "form-group">
                        <textarea class="form-control h-25" id="content">{{notice.content}} </textarea>
                    </div>
                </form>
        </div>
    </div>

    <div style="display: flex; justify-content: right;">
            <button type="button" onclick="updateNotice()" style="">수정</button>
    </div>


{{>layout/footer}}
